.comment {
    border: 2px solid black;
    border-radius: 0.5rem;
    text-align: start;

    padding: 0 1rem;
}

.comment > button {
    margin-bottom: 1rem;
    background-color: red;
}

.comment > button:hover {
    background-color: white;
}