.blogPost {
    border: 2px solid #242424;
    border-radius: 0.5rem;

    padding: 2rem;
    margin-bottom: 2rem;
    
    text-align: start;
}

.blogPost > p {
    font-size: 1.1rem;
}

.footer {
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid #242424;
}

.comments > * {
    margin-bottom: 1rem;
}

.commentsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsHeader > button {
    height:fit-content;
}